body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 78%, rgba(252, 176, 69, 1) 100%);
    color: rgb(243, 243, 243);
  }

  main {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 78%, rgba(252, 176, 69, 1) 100%);
    color: rgb(243, 243, 243);
    height: 80vh;

  }

  #thankyou {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(94, 253, 29, 1) 33%, rgba(252, 176, 69, 1) 100%);
    box-shadow: 12px 12px 15px 1px black;
    text-align: center;
    color: aliceblue;

  }

  footer {
    color: aliceblue;
    box-shadow: -12px -12px 15px 1px black;
    box-shadow: 12px 12px 15px 1px black;
    margin-top: 20px;
    height: auto;


  }

  #tittles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tittle1 {
    font-size: 58px;
    text-shadow: #FC0 1px 0 10px;
    font-family: 'Noto Serif Vithkuqi', serif;
  }

  .tittle2 {
    font-size: 38px;
    text-shadow: #FC0 1px 0 10px;
    font-family: 'Noto Serif Vithkuqi', serif;
  }



  /* For mobile devices */
  /* @media screen and (max-width: 767px) {
  .container {
      padding: 10px;
  }
} */

  /* For tablets and small desktops */
  @media screen and (min-width: 359px) and (max-width: 739px) {
  h5.card-title img {
      max-width: 60%; /* Adjust this value as needed */
  }

  .card{
    width: 100px;
  }

  #thankyou{
    height: 20px;
  }

  footer{
    margin-top: 10px;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  
  #tittles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tittle1 {
    font-size: 30px;
  }

  .tittle2 {
    font-size: 20px;
  }
  }



  /* For tablets and small iphone xr */
  @media screen and (min-width: 413px) and (max-width: 895px) {

  h5.card-title img {
      max-width: 50%; 
  }

  .card{
    width: 100px;
  }

  #thankyou{
    height: 20px;
  }

  footer{
    margin-top: 10px;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  
  #tittles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tittle1 {
    font-size: 30px;
  }

  .tittle2 {
    font-size: 20px;
  }
  }


  /* For larger desktops */
  /* @media screen and (min-width: 1024px) {
  .container {
      padding: 30px;
  }
} */

@media screen and (min-width: 374px) and (max-width: 666px) {

    h5.card-title img {
        max-width: 50%; 
    }
  
    .card{
      width: 100px;
    }
  
    #thankyou{
      height: 20px;
    }
  
    footer{
      margin-top: 10px;
    font-size: x-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  
    
    #tittles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .tittle1 {
      font-size: 30px;
    }
  
    .tittle2 {
      font-size: 20px;
    }
    }